body {
    background-color: rgb(190, 249, 249);
    color: rgb(60, 46, 46);
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    background-color: rgb(17, 1, 163);
    text-align:center;
    border-style: groove;
}
button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: double;
    color:#fdfdff
}
input {
    height: 28px;
    border-style: double;
}
.face {
    color: red;
}
.back {
    color: red;
    opacity : 0.3;
}
